.order {
	padding: 80px 0;
	background-color: rgba(255, 255, 255, 0.1);

	&__body {
		display: flex;
		align-items: center;
		padding: 0 0 0 40px;

		border: 1px solid rgba(255, 255, 255, 0.2);
		border-radius: 6px;
		box-shadow: 0px 10px 40px rgba(116, 18, 18, 0.05);
		@media (max-width: 900px) {
			flex-direction: column;
			padding-left: 0;
		}
	}

	&__image {
		position: relative;
		flex: 0 0 374px;
		align-self: flex-end;
		height: 365px;
		@media (max-width: 900px) {
			align-self: center;
		}
	}

	&__image-bg {
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 2;
		@media (max-width: 900px) {
			position: relative;
			height: 100%;
		}
	}
	&__decor {
		&_1 {
			position: absolute;
			top: 42px;
			left: 0;
		}

		&_2 {
			position: absolute;
			right: -16px;
			bottom: 0px;
			height: 84px;
			overflow: hidden;
		}
	}

	&__info {
		flex: 1 1 auto;
		padding: 22px;
		color: #fff;
	}

	&__title {
		margin-bottom: 40px;
		font-weight: 400;
		font-size: 32px;
		line-height: 130%;
		span {
			font-weight: 700;
		}
		@media (max-width: 560px) {
			margin-bottom: 20px;
			font-size: 24px;
		}
	}
}
.form-order {
	display: flex;
	flex-wrap: wrap;
	gap: 19px;
	&__input {
		flex: 1 1 200px;
		width: 100%;
		padding: 20px 15px 20px 30px;
		background: rgba(255, 255, 255, 0.15);
		font-family: $font-family;
		font-size: 18px;
		line-height: 100%;
		border: 1px solid rgba(255, 255, 255, 0.3);
		border-radius: 6px;
		color: #fff;
		&::placeholder {
			color: inherit;
			font-weight: inherit;
			font-size: inherit;
		}
	}
	&__btn {
		flex: 1 1 200px;
		padding: 20px 15px;
		font-family: $font-family;
	}
}
