.stages {
	padding: 80px 0;
	background-color: rgba(255, 255, 255, 0.1);

	&__title {
		max-width: 735px;
		margin-bottom: 40px;
	}

	&__body {
		display: flex;
		flex-wrap: wrap;
		gap: 40px;
	}

	&__item {
		flex: 1 1 360px;
	}

	&__text {
		font-weight: 400;
		font-size: 18px;
		line-height: 165%;
	}

	&__decor {
		position: absolute;
		top: 20px;
		right: 15px;
		font-weight: 700;
		font-size: 32px;
		line-height: 130%;
	}
}
.item-stages {
	position: relative;
	display: flex;
	align-items: center;
	padding: 30px 50px 30px 40px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 6px;
	color: #fff;
}
